tmp
*.swp
node_modules
node-install
*.tar.gz
*.tar.bz2
*.log
.pkg
common/node_modules
bin/amon-zwatch
agent/checks
agent/*.json

# built docs (ignore for now)
docs/media
docs/index.html
docs/index.json
