tmp
*.swp
node_modules
*.log
/amon.sublime*

/build
/bootstrap.json
/agent/*.json
/test/config.json
/test/prep.json
/master/config.json
/screencasts

# built docs (ignore for now)
/docs/media
/docs/index.html
/docs/index.json
