[submodule "deps/node"]
	path = deps/node
	url = git://github.com/joyent/node.git
[submodule "deps/npm"]
	path = deps/npm
	url = git://github.com/trentm/npm.git
[submodule "deps/restdown"]
	path = deps/restdown
	url = git://github.com/trentm/restdown.git
[submodule "deps/node-sdc-clients"]
	path = deps/node-sdc-clients
	url = git@git.joyent.com:node-sdc-clients.git
