tmp
*.swp
node_modules
*.log

/.pkg
/amon-*.tgz
/amon-*.tar.bz2
/deps/node-install
/bootstrap.json
/bin/amon-zwatch
/agent/*.json
/tst/config.json
/tst/prep.json
/master/config.json

# built docs (ignore for now)
/docs/media
/docs/index.html
/docs/index.json
